<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello World")

Hello World

### 02) WAP to print your address i) using single print ii) using multiple print

In [3]:
print("Address :gurukrupa society street NO.2 haridhava 80 feet road rajkot")
print("Happy")
print("gurukrupa society")
print("street NO.2 haridhava 80 feet road")
print("rajkot")

Address :gurukrupa society street NO.2 haridhava 80 feet road rajkot
Happy
gurukrupa society
street NO.2 haridhava 80 feet road
rajkot

### 03) WAP to print addition of 2 numbers (without input function)

In [7]:
a = 90
b = 53
print(a+b)

143

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [8]:
a = 80
b = 40
print((a+b)/2)

60.0

### 05) WAP to add two number entered by user.

In [41]:
num1 = int(input(("enter your First number : ")))
num2 = int(input(("enter your Second number : ")))

print("your output is : ",num1+num2)

enter your First number : 90
enter your Second number : 53
your output is :  143

### 06) WAP to calculate simple interest.

In [44]:
P = int(input("enter your P number : "))
R = int(input("enter your R number : "))
T = int(input("enter your T number : "))
print("your simple interese is : ",(P*R*T)/100)

enter your P number : 25000
enter your R number : 10
enter your T number : 1
your simple interese is :  2500.0

### 07) WAP Calculate Area and Circumfrence of Circle

In [53]:
pie = 3.14
r = int(input("enter redius: "))
ans = pie*r*r
print("your answer is : ",ans)

enter redius: 23
your answer is :  1661.06

### 08) WAP to print Multiplication table of given number without using loops.

In [20]:
num = int(input("enter number"))
print(num,"* 1 =",num*1)
print(num,"* 2 =",num*2)
print(num,"* 3 =",num*3)
print(num,"* 4 =",num*4)
print(num,"* 5 =",num*5)
print(num,"* 6 =",num*6)
print(num,"* 7 =",num*7)
print(num,"* 8 =",num*8)
print(num,"* 9 =",num*9)
print(num,"* 10 =",num*10)

enter number143
143 * 1 = 143
143 * 2 = 286
143 * 3 = 429
143 * 4 = 572
143 * 5 = 715
143 * 6 = 858
143 * 7 = 1001
143 * 8 = 1144
143 * 9 = 1287
143 * 10 = 1430

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [52]:
base = int(input("enter your base : "))
height = int(input("enter your height : "))

print("your output is : ",base*height*0.5)

enter your base : 12
enter your height : 10
your output is :  60.0

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [56]:
degree = int(input("enter your degree : " ))

ans = (degree)*1.8+32
print("your Fahrenheit is : ",ans)

print("========== vice versa ==========")

Fahrenheit = int(input("enter your Fahrenheit : "))
ans = (Fahrenheit-32)*1.8
print("your degree is : ",ans)

enter your degree : 0
your Fahrenheit is :  32.0
========== vice versa ==========
enter your Fahrenheit : 32
your degree is :  0.0

### 11) WAP to calculate total marks and Percentage.

In [60]:
english = int(input("enter your english mark : "))
maths = int(input("enter your maths mark : "))
python = int(input("enter your python mark : "))
flutter = int(input("enter your flutter mark : "))
sunskrit = int(input("enter your sunskrit : "))
print("your total marks is : ",english+maths+python+flutter+sunskrit)
print("your Percentage is : ",(english+maths+python+flutter+sunskrit)/5)

enter your english mark : 91
enter your maths mark : 92
enter your python mark : 93
enter your flutter mark : 94
enter your sunskrit : 95
your total marks is :  465
your Percentage is :  93.0

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [11]:
x1=int(input("Enter x1 :"))

y1=int(input("Enter y1 :"))
x2=int(input("Enter x2 :"))
y2=int(input("Enter y2 :"))
Distance = (((x2 - x1) * (x2 - x1)) + ((y2 - y1) * (y2 - y1)))**0.5
print("Distance between two points:",Distance)

Enter x1 :10
Enter y1 :11
Enter x2 :12
Enter y2 :13
Distance between two points: 2.8284271247461903

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [27]:
secoend = int(input("enter secoends: "))
hours = int((secoend/3600))
minutes = int((secoend%3600)/60)
sec = int((secoend%3600)%60)
print("your hour :",hours)
print("your minutes :",minutes)
print("your secoend :",sec)

enter secoends: 20000
your hour : 5
your minutes : 33
your secoend : 20

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [28]:
kilometer = int(input("enter kilometer: "))
meter = kilometer*1000
feet = kilometer*3280.84
inch = kilometer*39370.1
cm = kilometer*10000
print("meter :",meter)
print("feet :",feet)
print("inch :",inch)
print("cm :",cm)

enter kilometer: 1
meter : 1000
feet : 3280.84
inch : 39370.1
cm : 10000